<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
	<div class="header">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Products</a></li>
			<li> <a href="#">About</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
	<div class="ads">ads</div>
	<div class="offer">offer</div>
	<div class="info-line">info-line</div>
	<div class="product-cat">product-cat</div>
	
	<div class="tracker">tracker
	
	</div>
	<div class="footer">Footer</div>
</div>
</body>
</html>